@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }

 .header-content,
 .full {
    width: 100%;
  }

  .upper {
    width: 90%;
  }

}

@media only screen and (max-width: 660px) {

  .full {
    display: none;
  }

  .mobile-only {
      display: block;
  }

}
