@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }

 .header-content,
 .full {
    width: 100%;
  }

  .upper {
    width: 90%;
  }

}

@media only screen and (max-width: 500px) {

  body {
    background-color: red;
  }

  #header {
    width: 100%;
    background-color: orange;
    background-image: none;
  }

  .full {
    width: 100%;
    background-image: url('images/Background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

}
