html, body {
    height: 100%;
}

header {
    width: 100%;
    background-image: url('images/Background-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}

.logo {
    float: right;
    width: 60px;
    height: 60px;
    margin: 10px
}

nav {
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.header-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.you {
    color: white;
    background-color: orange;
}

.where {
    color: gray;
    background-color: white;
}

.header-content a {
    width: 200px;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    border-color: #000;
    margin: 10px;
    text-align: center;
}

.header-content p {
    color: white
}

.header-info {
    text-align: right;
    padding: 10px;
}

.header-info img {
    width: 200px;
    height: 150px;
}

/* .wrapper {

    width: 80%;
    margin: 0 auto;
    background-color: orange;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.wrapper-info {
    text-align: right;
}

.wrapper-img img {
    width: 140px;
    height: 180px;
}

.wrapper-img {
    position: absolute;
    right: 3rem;
    top: -2rem;
} */
 .upper {
    width: 70%;
    margin: 0 auto;
    background-color: orange;
    margin-top: 35px;

 }

.upper-info {
    /* float: left; */
    padding: 10px;
    text-align: right;
}

.upper-img {
    /* float: right; */
    width: 40px;
    height: 40px;
    position: relative;
}

.upper-img img {
    width: 150px;
    height: 200px;
    position: absolute;
    top: -12px;
}
