html, body {
    height: 100%;
}

header {
    width: 100%;
    background-image: url('images/Background-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
}

.logo {
    float: right;
    width: 60px;
    height: 60px;
    margin: 10px
}

nav {
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.header-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.you {
    color: white;
    background-color: orange;
}

.where {
    color: gray;
    background-color: white;
}

.header-content a {
    width: 200px;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    border-color: #000;
    margin: 10px;
    text-align: center;
}

.header-content p {
    color: white
}

.header-info {
    text-align: right;
    padding: 10px;
}

.header-info img {
    width: 200px;
    height: 150px;
}

/* .wrapper {

    width: 80%;
    margin: 0 auto;
    background-color: orange;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.wrapper-info {
    text-align: right;
}

.wrapper-img img {
    width: 140px;
    height: 180px;
}

.wrapper-img {
    position: absolute;
    right: 3rem;
    top: -2rem;
} */
 .upper {
    width: 70%;
    height: 160px;
    margin: 0 auto;
    background-color: orange;
    margin-top: 100px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
 }

.upper-info {
    /* float: left; */
    padding: 16px;
    text-align: right;
}

.upper-img {
    /* float: right; */
    width: 40px;
    height: 40px;
    position: relative;
}

.upper-img img {
    width: 150px;
    height: 220px;
    position: absolute;
    top: -23px;
}

.btn-style {
    padding: 5px;
    font-size: 14px;
    border-style: hidden;
    border-radius: 25px;
    width: 200px;
    color: white;
    background-color: red;
    background: linear-gradient(to right, red , #8B0000);
}

.middle-info {
    padding: 16px;
    text-align: center;
    margin-top: 20px;
}

.low-img  {
    position: relative;
}
.low-img img {
    width: 85;
    height: 135px;

}

#facebook {
  position: relative;
  z-index: 2;
  top: -20px;
}

#insta {
  position: relative;
  z-index: 1;
  top: -80px;
  left: 45px;
}

.social-img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.sponsor {
    width: 70%;
    margin: 0 auto;
}

.sponsor img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   background-color: red;
   color: white;
   text-align: center;
} */

section {
    min-height: calc(100vh - 200px);
}

.circle {
    background-color: white;
    height: 280%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: -53%;
    z-index: -2;

}

.footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #999;
    border-bottom: 150px solid black;
    width: 100%;
    position: relative;
    z-index: -1;
}
