html, body {
    height: 100%;
}


#header {
    width: 100%;
    background-image: url('images/Background-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
}

.logo {
    float: right;
    width: 60px;
    height: 60px;
    margin: 10px
}

nav {
    width: 100%;

}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
}

li {
  float: right;
  width: 23%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

.header-login {
    background-color: orange;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 5px;
}

.full {
    width: 85%;
    margin: 0 auto;
}

.header-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 26px;

}

.header-content p {
    text-align: center
}

.you {
    color: white;
    background-color: orange;
}

.where {
    color: gray;
    background-color: white;
}

.header-content a {
    width: 200px;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    border-color: #000;
    margin: 10px;
    text-align: center;
}

.header-content p {
    color: white
}

.header-info {
    text-align: right;
    padding: 10px;
    color: white;
}

.header-info img {
    width: 200px;
    height: 150px;
}



/* .wrapper {

    width: 80%;
    margin: 0 auto;
    background-color: orange;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.wrapper-info {
    text-align: right;
}

.wrapper-img img {
    width: 140px;
    height: 180px;
}

.wrapper-img {
    position: absolute;
    right: 3rem;
    top: -2rem;
} */
 .upper {
    width: 70%;
    height: 160px;
    margin: 0 auto;
    background-color: orange;
    margin-top: 100px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
 }

.upper-info {
    /* float: left; */
    padding: 16px;
    text-align: right;
}

.upper-img {
    /* float: right; */
    width: 40px;
    height: 40px;
    position: relative;
}

.upper-img img {
    width: 150px;
    height: 220px;
    position: absolute;
    top: -23px;
}

.btn-style {
    padding: 5px;
    font-size: 14px;
    border-style: hidden;
    border-radius: 25px;
    width: 200px;
    color: white;
    background-color: red;
    background: linear-gradient(to right, red , #8B0000);
}

.welcome {
    text-align: center;
    margin-top: 10px;
}


.middle-info {
    padding: 16px;
    text-align: center;
    margin-top: 20px;
}

.low-img  {
    position: relative;
}
.low-img img {
    width: 85px;
    height: 135px;

}

#facebook {
  position: relative;
  z-index: 2;
  top: -20px;
}

#insta {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 65px;


}

.home-section {
    max-width: 1024px;
    margin: 0 auto;
}

.social-img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.sponsor {
    width: 70%;
    margin: 0 auto;
}

.sponsor img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   background-color: red;
   color: white;
   text-align: center;
} */

section {
    min-height: calc(100vh - 250px);
}

.circle {
    background-color: #DCDCDC;
    height: 280%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: -53%;
    z-index: -2;
}

.footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #999;
    border-bottom: 200px solid black;
    width: 100%;
    position: relative;
    z-index: -1;
}

#login {
    width: 100%;
    height: 100%;
    background-image: url('images/Background.png');
    background-color: orange;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: right top; */
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
    text-align: center;

}

.login-logo {
    width: 100%;
    height: 100px;
    background-color: orange;
    border-radius: 30px;
    box-shadow: 10px 15px 15px -18px rgba(0, 0, 0, 1);
    text-align: center;
}

.login-logo img {
    width: 60px;
    height: 65px;
    margin-top: 20px;
}

.line {
    border-left: 1px solid gray;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 40%;
}

.form-login {
    text-align: right;
    color: grey;
}

.separator {
    display: none;
}

input[type=text],
input[type=tel] {
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
}

.modal-body {
    text-align: center;
}
.modal-body img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

#customer-nav {
    margin: 0;
    width: 400px;
    height: 50px;
    background-color: orange;
    border-radius: 0px 0px 38px 0px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
    float: left;
}

#customer-nav a,
#store-nav a {
    width: 32%;
    text-align: center;
    color: white;
    margin-top: 18px;
}

#customer-header {
    width: 100%;
}
#customer-nav img {
    width: 70px;
    height: 50px;
    margin-right: 5px;
}



.btn-style-group {
    padding: 5px;
    font-size: 14px;
    border-style: hidden;
    border-radius: 25px;
    width: 200px;
    color: white;
    background-color: red;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: -20px;
}


#order {
    background-color: orange;
}

#message {
    background-color: white;
    color: gray;

}

.customer-right {
    width: calc(100% - 400px);
    display: inline-block;
}

.shadow {
    border-radius: 20px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);

    margin-left: 2%;
    margin-top: 10px;
}

.product {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
    background-color: white;
    margin-top: 60px;
    padding: 15px;
    position: relative;
}

body {
    background-color: #DCDCDC
}

.product  h4, p, a, .product-message {
    text-align: right;
}

.product {
    text-align: right
}

.product a {
    color: black;
}

.product-photo {
    height: 105%;
    width: 180px;
    background-color: gray;
    border-radius: 20px;
    position: absolute;
    top: -17%;
    left: -3%;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}

.icons {
    text-align: right;
}

.icons a {
    margin-left: 20px;
    color: black;
}

.product-message a {
    color: orange;
}

.product-message input[type=text] {
    width: 300px;
}

.customer-wrapper {
    min-height: calc(100vh - 64px);
}

.customer-footer {
    width: 100%;
    padding-top: 50px;
    color: #999;
    border-bottom: 10px solid orange;
}

.customer-links {
    text-align: right;
    position: fixed;
    bottom:35px;
	right: 20px;

}

.customer-links button {
    background-color: orange;
    border-radius: 25px;
    border-color: none;
    color: white;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.model-customer {
    background-color: orange;
}

.order-message>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 100;

}

.order-message>.btn:not(:first-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.product-details {
    border-radius: 25px;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: right;
    padding: 16px;
    margin-top: 40px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}

.product-msg {
    background-color: #DCDCDC;
    border-radius: 25px;
    width: 100%;
    height: auto;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
    padding: 10px;
}

.logo-msg {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  display: inline-block;
  margin-left: 10px;
}

.owner-msg {
    display: inline-block;
}

.owner {
    text-align: right;
}

.client {
    text-align: left;
}

.customer-photo {
    height: 140px;
    width: 180px;
    background-color: gray;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: -3px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}

.send-msg {
    border-radius: 50px;
    background-color: white;
    width: 100%;
    height: 100;
    text-align: right;
    padding: 5px;
    margin-top: 16px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}

.send-msg input[type=text] {
    width: 60%;
    border-radius: 50px;
    margin-left: 4%;
}

.send-msg a {
    color: orange;
}

#store-nav {
    margin: 0;
    width: 400px;
    height: 50px;
    background-color: orange;
    border-radius: 0px 0px 38px 0px;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}

.store-list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.stores {
    margin: 16px;

}

.like {
    color: orange;
}


.mobile-only {
    display: none;
}


.user-info,
.client-info {
    width: 90%;
    height: 100vh;
    background-color: orange;
}

.col-sm-3, .col-sm-9 {
    padding: 0px;
}

.ex-orders {
    padding: 1em;
    text-align: center;
}

.ex-orders h2 {
    margin-bottom: 1em;

}

.last-order {
    width: 80%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
}

.user-info,
.client-info {
    position: relative;
    width: 100%;
}

.total-data {
    position: absolute;
    width: 100%;
    top: 20%;
}

.user-logo {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
    margin: 0 auto;
}

.user-data {
    height: auto;
    width: 70%;
    text-align: center;
    color: black;
    margin: 0 auto;
}

.user-data a {
    color: black;
}

.left-user {
    width: 30%;
    float: left;
}

.right-user {
    width: 65%;
    float: right;
    text-align: center;
    margin-top: 20px;
}

.user-network {
    margin: 0.7em;
}

.user-network a {
    margin: 0.2em;
}

.right-user h2 {
    margin-bottom: 20px;
}

.change {
    background-color: black;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: right;
}

.client-rate {
    display: inline-block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-rating {
    width: 80%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
    padding: 16px;
}

.store-logo {
    background-color: black;
    width: 40px;
    height: 40px;
    position: relative;
    top: 20%;
}

.customer-msg {
    padding: 5px;
}
.respond {
    position: relative;
    top: 20%;
}

.respond a {
    color: orange;
}

.product-conversation {
    margin-bottom: 10px;
}

.customer-respond {
    width: 100%;
    margin-top: 16px;
}

.customer-respond input[type=text] {
    width: 60%;
    text-align: right;
    border-radius: 40px;
}

.customer-respond a {
    color: orange;
}

.all-orders {
    text-align: center
}

.client-order {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 1);
    padding: 5px;
    margin-bottom: 16px;
    text-align: right;
    position: relative;
}

.client-order a {
    color: black;
    text-align: right;
}

.order-photo {
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 20px;
    position: absolute;
    top: -17%;
    left: -3%;
    box-shadow: 10px 15px 15px -21px rgba(0, 0, 0, 1);
}
