header {
    width: 100%;
    background-image: url('images/nav.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}

nav {
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

/* li a:hover {
  background-color: #111;
} */

.header-content {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.you {
    float: left;
    color: white;
    background-color: orange;
}

.where {
    float: right;
    color: gray;
    background-color: white;
}

.header-content a {
    width: 200px;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    border-color: #000
}

.header-content p {
    color: white
}
